SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Levels]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Levels](
	[level_name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Level] PRIMARY KEY CLUSTERED 
(
	[level_name] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Users]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Users](
	[user_id] [varchar](50) NOT NULL,
	[first_name] [nvarchar](255) NULL,
	[middle_name] [nvarchar](255) NULL,
	[last_name] [nvarchar](255) NULL,
	[create_date] [datetime] NULL,
	[password] [varchar](15) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[lu_get_restaurant_detail]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE procedure [dbo].[lu_get_restaurant_detail] (@pagesize int = 5,     
            @page int = 0,    
            @city varchar(100) = '''',    
            @state varchar(2) = '''',    
            @name varchar(200) = '''')    
as    
    
-- list by name, city, state    
declare @sql varchar(1000)    
    
set @sql = ''select top '' + cast(@pagesize as varchar) + '' restaurant_id, restaurant_name, street, suite,     
city, state, zip, phone, fax    
from restaurants where restaurant_id >= '' + cast(@page as varchar) + '' ''    
    
if len(@city) > 0    
begin     
 set @sql = @sql + ''and city = '''''' + @city + '''''' ''    
end     
    
if len(@state) > 0    
begin    
 set @sql = @sql + ''and state = '''''' + @state + '''''' ''    
end    
    
if len(@name) > 0    
begin    
 set @sql = @sql + ''and restaurant_name = '''''' + @name + '''''' ''    
end    
    
-- lu_get_restaurant_detail 2, 4, ''marietta'', ''GA''    
    
--print @sql    
exec (@sql)    
    
    
    
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cuisines]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Cuisines](
	[cuisine_code] [int] IDENTITY(1,1) NOT NULL,
	[cuisine_name] [nvarchar](255) NULL,
	[examples] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Cuisines] PRIMARY KEY CLUSTERED 
(
	[cuisine_code] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Menu_Categories]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Menu_Categories](
	[menu_category_id] [int] IDENTITY(1,1) NOT NULL,
	[menu_category_name] [varchar](50) NOT NULL,
	[menu_category_description] [varchar](500) NULL DEFAULT (''),
PRIMARY KEY CLUSTERED 
(
	[menu_category_name] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Pages]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Pages](
	[page_name] [nvarchar](255) NULL,
	[file_name] [nvarchar](255) NOT NULL,
	[long_file_name] [nvarchar](255) NULL,
	[purpose] [nvarchar](255) NULL,
 CONSTRAINT [PK_Pages] PRIMARY KEY CLUSTERED 
(
	[file_name] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ob_format_phone]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[ob_format_phone] 
(
	-- Add the parameters for the function here
	@phonenumber numeric(10,0), @delimiter varchar(1)=''-''
)
RETURNS  varchar(12)
AS
BEGIN
	-- Declare the return variable here
	declare @num varchar(12)

	-- Add the T-SQL statements to compute the return value here
	set @num = 	left(cast(@phonenumber as varchar),3) + @delimiter + substring(cast(@phonenumber as varchar),4,3) + @delimiter +	right(cast(@phonenumber as varchar),4)

	-- Return the result of the function
	return @num

END
' 
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ob_fn_get_tax]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	<Description, ,>
-- =============================================
CREATE FUNCTION [dbo].[ob_fn_get_tax] 
(
	-- Add the parameters for the function here
	@zip_code nvarchar(5)
)
RETURNS  numeric(5,4)
AS
BEGIN
	-- Declare the return variable here
	declare @num numeric(5,4)

	-- Add the T-SQL statements to compute the return value here
	set @num = 0.08	

	-- Return the result of the function
	return @num

END
' 
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ob_fn_format_phone]') AND type in (N'FN', N'IF', N'TF', N'FS', N'FT'))
BEGIN
execute dbo.sp_executesql @statement = N'-- =============================================  
-- Author:  <Author,,Name>  
-- Create date: <Create Date, ,>  
-- Description: <Description, ,>  
-- =============================================  
CREATE FUNCTION [dbo].[ob_fn_format_phone]   
(  
 -- Add the parameters for the function here  
 @phonenumber numeric(10,0), @delimiter varchar(1)=''-''  
)  
RETURNS  varchar(12)  
AS  
BEGIN  
 -- Declare the return variable here  
 declare @num varchar(12)  
  
 -- Add the T-SQL statements to compute the return value here  
 set @num =  left(cast(@phonenumber as varchar),3) + @delimiter + substring(cast(@phonenumber as varchar),4,3) + @delimiter + right(cast(@phonenumber as varchar),4)  
  
 -- Return the result of the function  
 return @num  
  
END  ' 
END

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[States]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[States](
	[state_abbreviation] [nvarchar](2) NOT NULL,
	[title] [nvarchar](50) NULL,
	[contenental] [bit] NOT NULL,
 CONSTRAINT [PK_State] PRIMARY KEY CLUSTERED 
(
	[state_abbreviation] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tests]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Tests](
	[test_id] [int] IDENTITY(1,1) NOT NULL,
	[creation_date] [datetime] NULL,
	[description] [nvarchar](255) NULL,
	[created_by_user] [int] NULL,
 CONSTRAINT [PK_Test] PRIMARY KEY CLUSTERED 
(
	[test_id] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User_Levels]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[User_Levels](
	[restaurant_id] [int] NOT NULL,
	[user_id] [varchar](50) NOT NULL,
	[level_name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_User_Levels_1] PRIMARY KEY CLUSTERED 
(
	[restaurant_id] ASC,
	[user_id] ASC,
	[level_name] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Ratings]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Ratings](
	[rating_id] [int] IDENTITY(1,1) NOT NULL,
	[restaurant_id] [int] NULL,
	[rating] [nvarchar](255) NULL,
	[user_id] [varchar](50) NULL,
	[explaination] [nvarchar](255) NULL,
 CONSTRAINT [PK_Ratings] PRIMARY KEY CLUSTERED 
(
	[rating_id] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Orders]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [varchar](50) NULL,
	[item_id] [int] NULL,
	[order_date] [datetime] NULL,
	[invoice_id] [int] NULL,
	[custom_instructions] [varchar](1000) NULL,
	[quantity] [tinyint] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[User_Delivery_Locations]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[User_Delivery_Locations](
	[user_id] [varchar](50) NULL,
	[delivery_location_id] [int] NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Restaurants]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Restaurants](
	[restaurant_id] [int] IDENTITY(1,1) NOT NULL,
	[restaurant_name] [nvarchar](255) NULL,
	[street] [nvarchar](255) NULL,
	[suite] [nvarchar](255) NULL,
	[city] [nvarchar](255) NULL,
	[state] [nvarchar](2) NULL,
	[zip] [nvarchar](5) NULL,
	[phone] [numeric](10, 0) NULL,
	[fax] [numeric](10, 0) NULL,
	[create_date] [datetime] NULL,
	[cuisine_code] [int] NULL CONSTRAINT [DF_Restaurants_cuisine_code]  DEFAULT ((1)),
	[website] [varchar](100) NOT NULL DEFAULT ('#'),
	[logo] [varchar](50) NULL DEFAULT ('demo.jpg'),
	[paypalID] [varchar](50) NULL DEFAULT (''),
	[delivery] [bit] NULL DEFAULT ((1)),
	[pickup] [bit] NULL DEFAULT ((1)),
	[slogan] [varchar](40) NULL DEFAULT (''),
	[thanks] [varchar](100) NULL DEFAULT (''),
	[meal_completion_time] [int] NULL DEFAULT ((15)),
	[delivery_time] [int] NULL DEFAULT ((30)),
 CONSTRAINT [PK_Restaurant] PRIMARY KEY CLUSTERED 
(
	[restaurant_id] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Menus]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Menus](
	[item_id] [int] IDENTITY(1,1) NOT NULL,
	[restaurant_id] [int] NULL,
	[item_name] [nvarchar](255) NULL,
	[item_description] [nvarchar](255) NULL,
	[inserted_by] [varchar](50) NULL,
	[create_date] [datetime] NULL,
	[update_date] [datetime] NULL,
	[menu_category_name] [varchar](50) NULL,
	[img] [varchar](50) NULL DEFAULT ('drink.jpg'),
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[item_id] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Page_Levels]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Page_Levels](
	[level_name] [nvarchar](20) NULL,
	[file_name] [nvarchar](255) NULL
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Delivery_Locations]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Delivery_Locations](
	[delivery_location_id] [int] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](255) NULL,
	[apartment] [nvarchar](255) NULL,
	[city] [nvarchar](255) NULL,
	[state] [nvarchar](2) NULL,
	[zip] [nvarchar](5) NULL,
 CONSTRAINT [PK_Delivery_Location] PRIMARY KEY CLUSTERED 
(
	[delivery_location_id] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Tax]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Tax](
	[zip_code] [nvarchar](5) NOT NULL,
	[county_code] [varchar](20) NOT NULL,
	[county_name] [varchar](20) NULL,
	[rate] [numeric](5, 4) NULL,
	[tax_type] [varchar](20) NOT NULL,
	[effective_date] [datetime] NOT NULL,
	[end_date] [datetime] NOT NULL,
 CONSTRAINT [pk_tax] PRIMARY KEY CLUSTERED 
(
	[zip_code] ASC,
	[tax_type] ASC,
	[effective_date] ASC,
	[end_date] ASC,
	[county_code] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Invoices]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Invoices](
	[invoice_id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_date] [datetime] NULL,
	[delivery_location_id] [int] NULL,
	[taxes] [decimal](15, 4) NULL,
	[total] [smallmoney] NULL,
	[bill_to] [varchar](50) NULL,
	[tip] [money] NULL,
	[grand_total] [smallmoney] NULL,
	[order_status] [varchar](10) NULL DEFAULT ('pending'),
	[pickup_delivery] [varchar](8) NULL DEFAULT ('delivery'),
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[invoice_id] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Survey_Questions]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Survey_Questions](
	[survey_id] [int] NULL,
	[question_id] [int] NULL,
	[survey_question_number] [int] IDENTITY(1,1) NOT NULL,
	[answers] [nvarchar](255) NULL,
 CONSTRAINT [PK_Survey_Questions] PRIMARY KEY CLUSTERED 
(
	[survey_question_number] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Surveys]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Surveys](
	[survey_id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_id] [int] NULL,
 CONSTRAINT [PK_Survey] PRIMARY KEY CLUSTERED 
(
	[survey_id] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Fees]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Fees](
	[fee_id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_id] [int] NULL,
	[amount_paid] [smallmoney] NULL,
	[fee_charged] [smallmoney] NULL,
	[paid_on] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[fee_id] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Menu_Item_Prices]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Menu_Item_Prices](
	[menu_item_id] [int] IDENTITY(1,1) NOT NULL,
	[item_id] [int] NULL,
	[item_size] [varchar](50) NULL DEFAULT ('Main'),
	[item_price] [money] NULL,
	[date_added] [datetime] NULL DEFAULT (getdate()),
	[date_updated] [datetime] NULL DEFAULT (getdate()),
PRIMARY KEY CLUSTERED 
(
	[menu_item_id] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Zips]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Zips](
	[s_num] [nvarchar](255) NULL,
	[zip_code] [nvarchar](5) NOT NULL,
	[state] [nvarchar](2) NULL,
	[city] [nvarchar](255) NULL,
	[latitude] [float] NULL,
	[longitude] [float] NULL,
	[est_2k_population] [int] NULL,
	[Field8] [float] NULL,
 CONSTRAINT [PK_Zip] PRIMARY KEY CLUSTERED 
(
	[zip_code] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Questions]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Questions](
	[question_id] [int] IDENTITY(1,1) NOT NULL,
	[question_text] [nvarchar](255) NULL,
	[creation_date] [datetime] NULL,
	[test_id] [int] NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[question_id] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[lu_get_user_restaurants]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE procedure [dbo].[lu_get_user_restaurants] (@userid varchar(50))
as
select r.restaurant_name,
r.street, r.suite, r.city, r.state,
r.zip, r.phone, r.fax,
r.create_date, c.cuisine_name, r.restaurant_id
from restaurants r
inner join cuisines c on c.cuisine_code = r.cuisine_code
inner join user_levels l on r.restaurant_id = l.restaurant_id
inner join users u on l.user_id = u.user_id
where u.user_id = @userid 


' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[lu_get_User_Credentials]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


CREATE procedure [dbo].[lu_get_User_Credentials](@user_id varchar(50),
												@password varchar(15))
as
SELECT [user_id]
      ,[first_name]
      ,[middle_name]
      ,[last_name]
      ,[create_date]
      ,[password]
  FROM [dbo].[Users]
where [user_id] = @user_id 
	AND [password] = @password

' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[lu_insert_User]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


CREATE PROCEDURE [dbo].[lu_insert_User] (@user_id varchar(50),
		   @first_name nvarchar(255) = '''',
           @middle_name nvarchar(255) = '''',
           @last_name nvarchar(255) = '''',
		   @password varchar(15),
           @create_date DATETIME)

AS

INSERT INTO [dbo].[Users]
           ([user_id]
		   ,[first_name]
           ,[middle_name]
           ,[last_name]
           ,[password]
           ,[create_date])
     VALUES(@user_id,
		   @first_name, 
           @middle_name, 
           @last_name, 
           @password, 
           @create_date)
           
           
           
           

' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[lu_get_restaurant_by_id]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'  
CREATE procedure [dbo].[lu_get_restaurant_by_id] (@restaurant_id int)  
as  
select r.restaurant_id, r.restaurant_name, r.street,  
r.suite, r.city, r.state, r.zip, r.phone, r.fax, r.create_date, c.cuisine_name,  
r.website, r.delivery, r.pickup  
from restaurants r  
inner join cuisines c on c.cuisine_code = r.cuisine_code  
where restaurant_id = @restaurant_id  
  



' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[lu_get_restaurant_info]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

  
CREATE procedure [dbo].[lu_get_restaurant_info] (@restaurant_id int =1)      
as    
-- dbo.lu_get_restaurant_info    
-- Restaurant table    
select restaurant_id,    
Logo, restaurant_name as RestName,    
Street, Suite, City,    
State, Zip,    
dbo.ob_fn_format_phone(phone,''-'') as phone,    
dbo.ob_fn_format_phone(fax,''-'') as fax,    
dbo.ob_fn_get_tax(Zip) as Tax,    
paypalID,    
(case Delivery when 0 then ''No'' else ''Yes'' end) as Delivery,    
(case Pickup when 0 then ''No'' else ''Yes'' end) as Pickup,    
Slogan,    
thanks as ThankYou,    
meal_completion_time as PupCompletionTime,    
delivery_time as DeliveryTime,    
cuisine_name as CuisineType,    
''Simple'' as MenuType,  
1 as Template,  
10 as Area, 
1.5 as fee, 
1 as MinimumOrder,
website     
from restaurants     
inner join cuisines on restaurants.cuisine_code = cuisines.cuisine_code    
where restaurant_id = @restaurant_id       
    
-- dbo.lu_get_restaurant_info    
-- Categories table    
select distinct menu_category_name as CatName from menus     
where restaurant_id = @restaurant_id         
      
-- dbo.lu_get_restaurant_info    
-- Items table    
/*    
select m.item_id as [Id],    
m.Img,    
m.restaurant_id,    
m.item_name as [Name],    
m.item_description as sDescription,    
m.menu_category_name as CatName,     
mip.item_id,     
mip.item_size as [Size],    
mip.item_price as [Price]    
from menu_item_prices mip    
inner join menus m on mip.item_id = m.item_id    
where m.restaurant_id = @restaurant_id    
*/    
    
select m.item_id as [Id],    
m.Img,    
m.restaurant_id,    
m.item_name as [Name],    
m.item_description as sDescription,    
m.item_description as lDescription,    
m.menu_category_name as CatName  , 
(select (case count(mip.item_id) when 1 then ''No'' else ''Yes'' end) from menu_item_prices mip where mip.item_id = m.item_id) as MultiSize   
from menus m     
where m.restaurant_id = @restaurant_id       
and len(m.item_name) > 0  
          
select mip.item_id, mip.menu_item_id,     
mip.item_size as [Size],    
mip.item_price as [Price]    
from menu_item_prices mip    
inner join menus m on mip.item_id = m.item_id    
where m.restaurant_id = @restaurant_id    
and len(m.item_name) > 0  
  
    
  
  



' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[lu_get_restaurant_cuisines]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE procedure [dbo].[lu_get_restaurant_cuisines] (@restaurant_id int =1)  
as  
-- lu_get_restaurant_cuisines 1  
select c.cuisine_code, c.cuisine_name   
from cuisines c  
inner join restaurants r on r.cuisine_code = c.cuisine_code  
where r.restaurant_id = @restaurant_id  
union all 
select c.cuisine_code, c.cuisine_name  
from cuisines c   
where cuisine_code not in(select cuisine_code from restaurants where restaurant_id = @restaurant_id)  
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[lu_get_menu_categories]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE procedure [dbo].[lu_get_menu_categories] (@item_id int =1)    
as    
-- dbo.lu_get_menu_categories 16    

select mc.menu_category_id, isnull(m.menu_category_name,''Appetizer'') as [menu_category_name] 
from menus m
inner join menu_categories mc on m.menu_category_name = mc.menu_category_name
where m.item_id = @item_id
union all
select mc.menu_category_id, mc.menu_category_name 
from menu_categories mc
where mc.menu_category_name not in(select menu_category_name from menus where item_id = @item_id)
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[lu_get_food_categories_by_restaurant_id]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE procedure [dbo].[lu_get_food_categories_by_restaurant_id] (@restaurant_id int = 1)
as
select distinct mc.menu_category_name 
from menus m 
inner join menu_categories mc on mc.menu_category_name = m.menu_category_name
where m.restaurant_id = @restaurant_id

' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[lu_insert_blank_menu_item_price]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [dbo].[lu_insert_blank_menu_item_price] (@item_id int, @item_size varchar(50), @item_price smallmoney =0)
as
insert into menu_item_prices(item_id, item_size, item_price, date_added, date_updated)
values (@item_id, @item_size, @item_price, getdate(), getdate())
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[lu_get_item_price_count]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [dbo].[lu_get_item_price_count] (@item_size varchar(10), @item_id int)
as 
select count(1) as item_price_count from menu_item_prices
where item_size = @item_size 
and item_id = @item_id 
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[lu_get_menu_items_by_category]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE procedure [dbo].[lu_get_menu_items_by_category] (@restaurant_id int=1, @menu_category_name varchar(50)=''Appetizer'')
as
select m.item_id, m.item_name, ''Fries.jpg'' as pic, m.item_description,
 mip.item_price, mip.item_size 
from menus m
inner join menu_item_prices mip on mip.item_id = m.item_id
where m.restaurant_id = @restaurant_id
and m.menu_category_name = @menu_category_name
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[lu_get_menu_item_prices]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE procedure [dbo].[lu_get_menu_item_prices] (@restaurant_id int)  
as   
declare @items table( temp_id int identity(1,1), item_id int, restaurant_id int, item_name varchar(50), item_description varchar(100), small smallmoney default(0), medium smallmoney default(0), large smallmoney default(0), menu_category_name varchar(50))  
declare @itemprices table( price_id int identity(1,1), item_id int, item_size varchar(50), item_price smallmoney)  
  
-- get the items  
insert into @items (item_id, restaurant_id, item_name, item_description, menu_category_name)  
select m.item_id, m.restaurant_id, m.item_name, m.item_description, m.menu_category_name  
from menus m  
where restaurant_id = @restaurant_id   
  
-- get the prices  
insert into @itemprices (item_id, item_size, item_price)  
select mip.item_id, mip.item_size, mip.item_price  
from menu_item_prices mip  
inner join @items i on i.item_id = mip.item_id  
  
-- update prices in items table  
update @items  
set small = isnull(item_price,0)  
from @items i inner join @itemprices ip on i.item_id = ip.item_id  
where item_size = ''Small''  
  
update @items  
set medium = isnull(item_price,0)  
from @items i inner join @itemprices ip on i.item_id = ip.item_id  
where item_size = ''Medium''  
  
update @items  
set large = isnull(item_price,0)  
from @items i inner join @itemprices ip on i.item_id = ip.item_id  
where item_size = ''Large''  

-- dbo.lu_get_menu_item_prices 1  
select * from @items  
  
  


' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[lu_insert_menu_item]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'  
  
CREATE procedure [dbo].[lu_insert_menu_item](    
@restaurant_id int,    
@inserted_by varchar(50),    
@menu_category_name varchar(50) = ''Appetizer'',    
@item_name varchar(255) = '''',    
@item_description varchar(255) = '''',    
@item_price money = 0.00,     
@item_size varchar(50) = ''Small'',  
@item_id numeric(38,0) output    
)    
as    
  
/*  
 declare @id int  
 exec dbo.lu_insert_menu_item @restaurant_id=1, @inserted_by =''joe@email.com'', @item_id = @id output  
 select @id as item    
*/    
-- select * from menus  
  
declare @new_item_id int  
  
--set @new_item_id = (select top 1 (item_id +1) from menus order by item_id desc)    
  
insert into menus(restaurant_id, item_name, item_description, inserted_by, menu_category_name, create_date, update_date)    
values(@restaurant_id, @item_name, @item_description, @inserted_by, @menu_category_name, getdate(), getdate())    
    
set @new_item_id = (select top 1 item_id from menus order by item_id desc)    
set @item_id = @new_item_id  
    
insert into menu_item_prices(item_id, item_size, item_price, date_added, date_updated)    
values(@new_item_id, @item_size, @item_price, getdate(), getdate())    

insert into menu_item_prices(item_id, item_size, item_price, date_added, date_updated)    
values(@new_item_id, ''Medium'', @item_price, getdate(), getdate())    

insert into menu_item_prices(item_id, item_size, item_price, date_added, date_updated)    
values(@new_item_id, ''Large'', @item_price, getdate(), getdate())    



  
--return @new_item_id  
  
  
  ' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[lu_update_invoice]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'



create procedure [dbo].[lu_update_invoice] (@invoice_id int, @tip money=0)
as

--At this point in processing, the items are in the orders table and their values need to be summed up.
--Orders are queried by invoice id and inserted here
--Delivery location has not been handled, but it will need to be in the future

declare @orders table([user_id] varchar(50), 
						menu_item_id int, 
						invoice_id int,
						item_size varchar(50), 
						item_price money,
						quantity tinyint,
						line_total money)

declare @total money
declare @billto varchar(50)

insert into @orders([user_id], menu_item_id, invoice_id, item_size, item_price, quantity)
select o.[user_id], mip.menu_item_id, o.invoice_id, mip.item_size, mip.item_price, o.quantity
from orders o
inner join menu_item_prices mip on mip.menu_item_id = o.item_id
where o.invoice_id = @invoice_id

set @total = 0
set @billto = (select top 1 [user_id] from @orders)

--  add all items & quantities before adding the total
update @orders
set line_total = quantity * item_price

--	get the total
set @total = (select sum(line_total) from @orders)

UPDATE [dbo].[Invoices]
   SET /*[invoice_date] = <invoice_date, datetime,>
      ,[delivery_location_id] = <delivery_location_id, int,>
      ,[taxes] = <taxes, decimal(18,0),>
      ,*/[total] = @total
      ,[bill_to] = @billto
      ,[tip] = @tip
      ,[grand_total] = @total + @tip
 WHERE invoice_id = @invoice_id



' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[lu_insert_order_item]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


CREATE procedure [dbo].[lu_insert_order_item] (
	@user_id varchar(50),
	@menu_item_id int, -- fk menu_item_price
	@invoice_id int, -- fk invoice 
	@custom_instructions varchar(1000),
	@quantity tinyint = 1
)
as

INSERT INTO [dbo].[Orders]
           ([user_id]
           ,[item_id]
           ,[order_date]
           ,[invoice_id]
           ,[custom_instructions]
           ,[quantity])
     VALUES
           (@user_id
           ,@menu_item_id
           ,getdate()
           ,@invoice_id
           ,@custom_instructions 
           ,@quantity)







' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[lu_get_invoice_info]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'







create procedure [dbo].[lu_get_invoice_info](@invoice_id int)
as
--declare @invoice_id int
--set @invoice_id = 2
-- dbo.lu_get_invoice_info 2
--get the invoice information
select invoice_id, invoice_date, delivery_location_id, taxes, total,
	bill_to, tip, grand_total, order_status, pickup_delivery from invoices where invoice_id = @invoice_id

--get the order information (line items for the inoice
select o.order_id, o.user_id, o.item_id, o.order_date, o.invoice_id,
	o.custom_instructions, o.quantity from orders o inner join invoices i on o.invoice_id = i.invoice_id
where i.invoice_id = @invoice_id

--get the delivery location information (may be a blank dataset)
select dl.delivery_location_id, dl.address, dl.apartment, dl.city, dl.state, dl.zip 
	from delivery_locations dl inner join invoices i on i.delivery_location_id = dl.delivery_location_id
where i.invoice_id = @invoice_id














' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[lu_get_zips]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
create procedure [dbo].[lu_get_zips] ( @state varchar(2) )
as 
select zip_code, city from zips where state = @state' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[lu_get_city]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [dbo].[lu_get_city] (@zip varchar(5))
as
select city from zips where zip_code = @zip 
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[lu_insert_delivery_location]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'





CREATE procedure [dbo].[lu_insert_delivery_location](

@address varchar(255),
@apartment varchar(255)='''',
@city varchar(255),
@state varchar(2),
@zip varchar(5),
@user_id varchar(50)='''',
@delivery_location_id int output
)
as

INSERT INTO [dbo].[Delivery_Locations]
           ([address]
           ,[apartment]
           ,[city]
           ,[state]
           ,[zip])
     VALUES
           (@address
           ,@apartment
           ,@city
           ,@state
           ,@zip)

--declare @delivery_location_id int
set @delivery_location_id = @@identity





' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[lu_get_restaurant]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'


      
CREATE procedure [dbo].[lu_get_restaurant] (@city varchar(255) = '''',       
          @state varchar(2) = '''',      
          @zip varchar(5) = '''')      
      
as      
-- parameters are optional      
-- dbo.lu_get_restaurant       
declare @restaurant_names table(rid int identity , rcount int, restaurant_name varchar(1000))
declare @restaurant_cities table(rid int identity , rcount int, restaurant_city varchar(1000))
declare @restaurant_states table(rid int identity , rcount int, restaurant_state varchar(2))

insert into @restaurant_names(rcount,restaurant_name)
   select top 10 count(restaurant_name) as rcount,    
 ''<a href=''''RestaurantInfo.aspx?restaurant_name='' + restaurant_name + ''''''>'' + restaurant_name+ ''</a>'' as [restaurant_name]     
   from Restaurants      
   group by restaurant_name
   order by rcount desc      

insert into @restaurant_cities(rcount,restaurant_city)
   select top 10 count(distinct city) as rcount,    
 ''<a href=''''RestaurantInfo.aspx?city='' + city +''&state='' + state + ''''''>'' + city + '', '' + state +''</a>'' as [city]
   from Restaurants      
   group by city, state
   order by rcount desc      

insert into @restaurant_states(rcount,restaurant_state)
   select top 10 count(distinct state) as rcount, state 
   from Restaurants      
   group by state
   order by rcount desc      


-- dbo.lu_get_restaurant       
--select * from @restaurant_names 
--select * from @restaurant_cities 
--select * from @restaurant_states

select n.rcount, n.restaurant_name, c.restaurant_city, isnull(s.restaurant_state,'''') as restaurant_state
from @restaurant_names n inner join @restaurant_cities c on n.rid = c.rid
left join @restaurant_states s on n.rid = s.rid

/*      
if len(@city) > 0      
begin      
 select top 10 count(restaurant_name) as rcount, restaurant_name       
 from Restaurants      
 where city = @city      
 group by restaurant_name      
 order by rcount desc      
end      
else      
begin      
 if len(@state) > 0      
 begin      
  select top 10 count(state) as rcount, state       
  from Restaurants      
  where state = @state      
  group by state      
  order by rcount desc      
 end      
 else      
 begin      
  if len(@zip) > 0      
  begin      
   select top 10 count(zip) as rcount, restaurant_name       
   from Restaurants      
   where zip = @zip      
   group by restaurant_name      
   order by rcount desc      
  end      
  else      
  begin      
-- dbo.lu_get_restaurant       
    
   select top 10 count(restaurant_name) as rcount,    
 ''<a href=''''RestaurantInfo.aspx?restaurant_name='' + restaurant_name + ''''''>'' + restaurant_name+ ''</a>'' as [restaurant_name],     
 ''<a href=''''RestaurantInfo.aspx?city='' + city +''&state='' + state + ''''''>'' + city + '', '' + state +''</a>'' as [city], state       
   from Restaurants      
   group by restaurant_name, city, state      
   order by rcount desc      
  end      
 end      
end      
*/      
      
  





' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[lu_get_restaurant_states]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'
CREATE procedure [dbo].[lu_get_restaurant_states]  
as  
select ''<a href=''''RestaurantInfo.aspx?state=''+ r.state + ''''''>'' + s.title + ''</a>'',r.state, count(r.state) restaurant_count from restaurants r  
inner join States s on r.state = s.state_abbreviation  
group by s.title, r.state  

' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[lu_update_restaurant_info]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'







CREATE procedure [dbo].[lu_update_restaurant_info](
/*@restaurant_name varchar(255),
@street varchar(255),
@suite varchar(255),
@city varchar(255),
@state varchar(2),
@zip varchar(5),
@phone numeric(10,0),
@fax numeric(10,0),
@cuisine_code int,*/
@website varchar(100),
@restaurant_id int
)
as 
-- dbo.lu_update_restaurant_info ''
update restaurants set
--restaurant_name = @restaurant_name,
--street = @street,
--suite = @suite,
--city = @city,
--state = @state,
--zip = @zip,
--phone = @phone,
--fax = @fax,
--cuisine_code = @cuisine_code,
website = @website
where restaurant_id = @restaurant_id









' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[lu_insert_blank_invoice]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'  
  
CREATE procedure [dbo].[lu_insert_blank_invoice] (@delivery_location_id int =0 , @pickupdelivery varchar(8) = ''delivery'', @taxes decimal(15,4)=1, @invoice_id int output)  
as  
  
INSERT INTO [dbo].[Invoices]  
           ([invoice_date]  
           ,[delivery_location_id]  
           ,[taxes]  
           ,[total]  
           ,[bill_to]  
           ,[tip]  
           ,[grand_total]  
     ,[pickup_delivery])  
     VALUES  
           (getdate()  
           ,@delivery_location_id    
           ,@taxes   
           ,0  
           ,''''  
           ,0  
           ,0  
     ,@pickupdelivery )  
  
set @invoice_id = @@identity  
  
  ' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[lu_insert_user_level]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

CREATE procedure [dbo].[lu_insert_user_level] (@restaurant_id int, @user_id varchar(50), @level_name varchar(20))
as
INSERT INTO [dbo].[User_Levels]
           ([restaurant_id]
           ,[user_id]
           ,[level_name])
     VALUES
           (@restaurant_id
           ,@user_id
           ,@level_name)
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[lu_get_states]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'create procedure [dbo].[lu_get_states]
as
select title, state_abbreviation from States where contenental = 1 order by title
' 
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[lu_insert_Restaurant]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'

-- when a restaurant is inserted, a user anda user level is also inserted
CREATE PROCEDURE [dbo].[lu_insert_Restaurant] (@restaurant_name nvarchar(255),
           @street nvarchar(255),
           @suite nvarchar(255) = '''',
           @city nvarchar(255),
           @state nvarchar(2),
           @zip nvarchar(5),
           @phone NUMERIC(10,0),
           @fax NUMERIC(10,0),
           @r_create_date datetime,
		   @r_user_id varchar(50),
		   @r_password varchar(15),
		   @website varchar(100)=''#'')

AS
INSERT INTO [dbo].[Restaurants]
           ([restaurant_name]
           ,[street]
           ,[suite]
           ,[city]
           ,[state]
           ,[zip]
           ,[phone]
           ,[fax]
           ,[create_date]
		   ,[website])
     VALUES(@restaurant_name, 
			@street, 
			@suite, 
			@city, 
			@state, 
			@zip, @phone, @fax, @r_create_date, @website)

declare @new_restaurant_id int
set @new_restaurant_id = (select @@Identity)

exec lu_insert_user @user_id = @r_user_id, @password = @r_password, @create_date = @r_create_date

exec lu_insert_user_level @restaurant_id = @new_restaurant_id, @user_id = @r_user_id, @level_name = ''Administrator''


' 
END
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_User_Levels_Level]') AND parent_object_id = OBJECT_ID(N'[dbo].[User_Levels]'))
ALTER TABLE [dbo].[User_Levels]  WITH CHECK ADD  CONSTRAINT [FK_User_Levels_Level] FOREIGN KEY([level_name])
REFERENCES [dbo].[Levels] ([level_name])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_User_Levels_Restaurant]') AND parent_object_id = OBJECT_ID(N'[dbo].[User_Levels]'))
ALTER TABLE [dbo].[User_Levels]  WITH CHECK ADD  CONSTRAINT [FK_User_Levels_Restaurant] FOREIGN KEY([restaurant_id])
REFERENCES [dbo].[Restaurants] ([restaurant_id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_User_Levels_Users]') AND parent_object_id = OBJECT_ID(N'[dbo].[User_Levels]'))
ALTER TABLE [dbo].[User_Levels]  WITH CHECK ADD  CONSTRAINT [FK_User_Levels_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Ratings_Restaurant]') AND parent_object_id = OBJECT_ID(N'[dbo].[Ratings]'))
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD  CONSTRAINT [FK_Ratings_Restaurant] FOREIGN KEY([restaurant_id])
REFERENCES [dbo].[Restaurants] ([restaurant_id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Ratings_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[Ratings]'))
ALTER TABLE [dbo].[Ratings]  WITH CHECK ADD  CONSTRAINT [FK_Ratings_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Order_Invoice]') AND parent_object_id = OBJECT_ID(N'[dbo].[Orders]'))
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_Invoice] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[Invoices] ([invoice_id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Order_Menu_Item_Price]') AND parent_object_id = OBJECT_ID(N'[dbo].[Orders]'))
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_Menu_Item_Price] FOREIGN KEY([item_id])
REFERENCES [dbo].[Menu_Item_Prices] ([menu_item_id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Order_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[Orders]'))
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_User_Delivery_Location_Delivery_Location]') AND parent_object_id = OBJECT_ID(N'[dbo].[User_Delivery_Locations]'))
ALTER TABLE [dbo].[User_Delivery_Locations]  WITH CHECK ADD  CONSTRAINT [FK_User_Delivery_Location_Delivery_Location] FOREIGN KEY([delivery_location_id])
REFERENCES [dbo].[Delivery_Locations] ([delivery_location_id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_User_Delivery_Location_User]') AND parent_object_id = OBJECT_ID(N'[dbo].[User_Delivery_Locations]'))
ALTER TABLE [dbo].[User_Delivery_Locations]  WITH CHECK ADD  CONSTRAINT [FK_User_Delivery_Location_User] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Restaurant_State]') AND parent_object_id = OBJECT_ID(N'[dbo].[Restaurants]'))
ALTER TABLE [dbo].[Restaurants]  WITH CHECK ADD  CONSTRAINT [FK_Restaurant_State] FOREIGN KEY([state])
REFERENCES [dbo].[States] ([state_abbreviation])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Restaurant_Zip]') AND parent_object_id = OBJECT_ID(N'[dbo].[Restaurants]'))
ALTER TABLE [dbo].[Restaurants]  WITH CHECK ADD  CONSTRAINT [FK_Restaurant_Zip] FOREIGN KEY([zip])
REFERENCES [dbo].[Zips] ([zip_code])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Restaurants_Cuisines]') AND parent_object_id = OBJECT_ID(N'[dbo].[Restaurants]'))
ALTER TABLE [dbo].[Restaurants]  WITH CHECK ADD  CONSTRAINT [FK_Restaurants_Cuisines] FOREIGN KEY([cuisine_code])
REFERENCES [dbo].[Cuisines] ([cuisine_code])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Menus__menu_cate__74AE54BC]') AND parent_object_id = OBJECT_ID(N'[dbo].[Menus]'))
ALTER TABLE [dbo].[Menus]  WITH CHECK ADD  CONSTRAINT [FK__Menus__menu_cate__74AE54BC] FOREIGN KEY([menu_category_name])
REFERENCES [dbo].[Menu_Categories] ([menu_category_name])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Menu_Restaurant]') AND parent_object_id = OBJECT_ID(N'[dbo].[Menus]'))
ALTER TABLE [dbo].[Menus]  WITH CHECK ADD  CONSTRAINT [FK_Menu_Restaurant] FOREIGN KEY([restaurant_id])
REFERENCES [dbo].[Restaurants] ([restaurant_id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Page_Level_Pages]') AND parent_object_id = OBJECT_ID(N'[dbo].[Page_Levels]'))
ALTER TABLE [dbo].[Page_Levels]  WITH CHECK ADD  CONSTRAINT [FK_Page_Level_Pages] FOREIGN KEY([file_name])
REFERENCES [dbo].[Pages] ([file_name])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Delivery_Location_State]') AND parent_object_id = OBJECT_ID(N'[dbo].[Delivery_Locations]'))
ALTER TABLE [dbo].[Delivery_Locations]  WITH CHECK ADD  CONSTRAINT [FK_Delivery_Location_State] FOREIGN KEY([state])
REFERENCES [dbo].[States] ([state_abbreviation])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Delivery_Location_Zip]') AND parent_object_id = OBJECT_ID(N'[dbo].[Delivery_Locations]'))
ALTER TABLE [dbo].[Delivery_Locations]  WITH CHECK ADD  CONSTRAINT [FK_Delivery_Location_Zip] FOREIGN KEY([zip])
REFERENCES [dbo].[Zips] ([zip_code])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Tax__zip_code__5AEE82B9]') AND parent_object_id = OBJECT_ID(N'[dbo].[Tax]'))
ALTER TABLE [dbo].[Tax]  WITH CHECK ADD FOREIGN KEY([zip_code])
REFERENCES [dbo].[Zips] ([zip_code])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Invoice_Delivery_Location]') AND parent_object_id = OBJECT_ID(N'[dbo].[Invoices]'))
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Delivery_Location] FOREIGN KEY([delivery_location_id])
REFERENCES [dbo].[Delivery_Locations] ([delivery_location_id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Survey_Questions_Questions]') AND parent_object_id = OBJECT_ID(N'[dbo].[Survey_Questions]'))
ALTER TABLE [dbo].[Survey_Questions]  WITH CHECK ADD  CONSTRAINT [FK_Survey_Questions_Questions] FOREIGN KEY([question_id])
REFERENCES [dbo].[Questions] ([question_id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Survey_Questions_Survey]') AND parent_object_id = OBJECT_ID(N'[dbo].[Survey_Questions]'))
ALTER TABLE [dbo].[Survey_Questions]  WITH CHECK ADD  CONSTRAINT [FK_Survey_Questions_Survey] FOREIGN KEY([survey_id])
REFERENCES [dbo].[Surveys] ([survey_id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Survey_Invoice]') AND parent_object_id = OBJECT_ID(N'[dbo].[Surveys]'))
ALTER TABLE [dbo].[Surveys]  WITH CHECK ADD  CONSTRAINT [FK_Survey_Invoice] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[Invoices] ([invoice_id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Fees__invoice_id__7A672E12]') AND parent_object_id = OBJECT_ID(N'[dbo].[Fees]'))
ALTER TABLE [dbo].[Fees]  WITH CHECK ADD FOREIGN KEY([invoice_id])
REFERENCES [dbo].[Invoices] ([invoice_id])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK__Menu_Item__item___7A672E12]') AND parent_object_id = OBJECT_ID(N'[dbo].[Menu_Item_Prices]'))
ALTER TABLE [dbo].[Menu_Item_Prices]  WITH CHECK ADD  CONSTRAINT [FK__Menu_Item__item___7A672E12] FOREIGN KEY([item_id])
REFERENCES [dbo].[Menus] ([item_id])
GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK__Menu_Item__item___36B12243]') AND parent_object_id = OBJECT_ID(N'[dbo].[Menu_Item_Prices]'))
ALTER TABLE [dbo].[Menu_Item_Prices]  WITH CHECK ADD CHECK  (([item_size]='24in' OR [item_size]='20in' OR [item_size]='16in' OR [item_size]='15in' OR [item_size]='14in' OR [item_size]='13in' OR [item_size]='12in' OR [item_size]='Main' OR [item_size]='X-Large' OR [item_size]='Large' OR [item_size]='Medium' OR [item_size]='Small' OR [item_size]='X-Small'))
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Zip_State]') AND parent_object_id = OBJECT_ID(N'[dbo].[Zips]'))
ALTER TABLE [dbo].[Zips]  WITH CHECK ADD  CONSTRAINT [FK_Zip_State] FOREIGN KEY([state])
REFERENCES [dbo].[States] ([state_abbreviation])
GO
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_Questions_Test]') AND parent_object_id = OBJECT_ID(N'[dbo].[Questions]'))
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD  CONSTRAINT [FK_Questions_Test] FOREIGN KEY([test_id])
REFERENCES [dbo].[Tests] ([test_id])
